body {
    font-family: "Time New Rome", serif;
    font-size: 20px;
    text-align: left;
}

h1.mainpage {
    background-color: transparent;
    font-size: 80px;
    color:orangered;
    text-align: center;
}

h1 {
    font-size: 50px;
    background-color: beige;
    color: orange;
    text-align: center;
}

h3 {
    font-size: 40px;
    color: brown;
}

ul {
    font-size: 30px;
    color: black;
}

ul.mainpage {
    font-size: 30px;
    color: brown;
}